THService/THService/TestServices/Web References/WSTH/THService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getCustomerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="db" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matkhau" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustomerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustomerInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="W_Bill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="db" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matkhau" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="W_BillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="W_BillResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="payW_Bill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matkhau" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="payW_BillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="payW_BillResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPay_Bill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ten" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="matkhau" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkPay_BillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkPay_BillResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemHDThu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoHoaDon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DanhBo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Nam" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Ky" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SoTien" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenDichVu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TenNganHang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemHDThuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemHDThuResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemHDChuyen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoHoaDon" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DanhBo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Nam" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Ky" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SoTien" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TenDichVu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TenNganHang" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ThemHDChuyenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ThemHDChuyenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraHDThu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhBo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Nam" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Ky" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraHDThuResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KiemTraHDThuResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraDongNuoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DanhBo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="KiemTraDongNuocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="KiemTraDongNuocResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="PhiMoNuoc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getCustomerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getCustomerInfo" />
  </wsdl:message>
  <wsdl:message name="getCustomerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getCustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="W_BillSoapIn">
    <wsdl:part name="parameters" element="tns:W_Bill" />
  </wsdl:message>
  <wsdl:message name="W_BillSoapOut">
    <wsdl:part name="parameters" element="tns:W_BillResponse" />
  </wsdl:message>
  <wsdl:message name="payW_BillSoapIn">
    <wsdl:part name="parameters" element="tns:payW_Bill" />
  </wsdl:message>
  <wsdl:message name="payW_BillSoapOut">
    <wsdl:part name="parameters" element="tns:payW_BillResponse" />
  </wsdl:message>
  <wsdl:message name="checkPay_BillSoapIn">
    <wsdl:part name="parameters" element="tns:checkPay_Bill" />
  </wsdl:message>
  <wsdl:message name="checkPay_BillSoapOut">
    <wsdl:part name="parameters" element="tns:checkPay_BillResponse" />
  </wsdl:message>
  <wsdl:message name="ThemHDThuSoapIn">
    <wsdl:part name="parameters" element="tns:ThemHDThu" />
  </wsdl:message>
  <wsdl:message name="ThemHDThuSoapOut">
    <wsdl:part name="parameters" element="tns:ThemHDThuResponse" />
  </wsdl:message>
  <wsdl:message name="ThemHDChuyenSoapIn">
    <wsdl:part name="parameters" element="tns:ThemHDChuyen" />
  </wsdl:message>
  <wsdl:message name="ThemHDChuyenSoapOut">
    <wsdl:part name="parameters" element="tns:ThemHDChuyenResponse" />
  </wsdl:message>
  <wsdl:message name="KiemTraHDThuSoapIn">
    <wsdl:part name="parameters" element="tns:KiemTraHDThu" />
  </wsdl:message>
  <wsdl:message name="KiemTraHDThuSoapOut">
    <wsdl:part name="parameters" element="tns:KiemTraHDThuResponse" />
  </wsdl:message>
  <wsdl:message name="KiemTraDongNuocSoapIn">
    <wsdl:part name="parameters" element="tns:KiemTraDongNuoc" />
  </wsdl:message>
  <wsdl:message name="KiemTraDongNuocSoapOut">
    <wsdl:part name="parameters" element="tns:KiemTraDongNuocResponse" />
  </wsdl:message>
  <wsdl:portType name="THServiceSoap">
    <wsdl:operation name="getCustomerInfo">
      <wsdl:input message="tns:getCustomerInfoSoapIn" />
      <wsdl:output message="tns:getCustomerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="W_Bill">
      <wsdl:input message="tns:W_BillSoapIn" />
      <wsdl:output message="tns:W_BillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="payW_Bill">
      <wsdl:input message="tns:payW_BillSoapIn" />
      <wsdl:output message="tns:payW_BillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkPay_Bill">
      <wsdl:input message="tns:checkPay_BillSoapIn" />
      <wsdl:output message="tns:checkPay_BillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemHDThu">
      <wsdl:input message="tns:ThemHDThuSoapIn" />
      <wsdl:output message="tns:ThemHDThuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ThemHDChuyen">
      <wsdl:input message="tns:ThemHDChuyenSoapIn" />
      <wsdl:output message="tns:ThemHDChuyenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraHDThu">
      <wsdl:input message="tns:KiemTraHDThuSoapIn" />
      <wsdl:output message="tns:KiemTraHDThuSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="KiemTraDongNuoc">
      <wsdl:input message="tns:KiemTraDongNuocSoapIn" />
      <wsdl:output message="tns:KiemTraDongNuocSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="THServiceSoap" type="tns:THServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCustomerInfo">
      <soap:operation soapAction="http://tempuri.org/getCustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="W_Bill">
      <soap:operation soapAction="http://tempuri.org/W_Bill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payW_Bill">
      <soap:operation soapAction="http://tempuri.org/payW_Bill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPay_Bill">
      <soap:operation soapAction="http://tempuri.org/checkPay_Bill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemHDThu">
      <soap:operation soapAction="http://tempuri.org/ThemHDThu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemHDChuyen">
      <soap:operation soapAction="http://tempuri.org/ThemHDChuyen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraHDThu">
      <soap:operation soapAction="http://tempuri.org/KiemTraHDThu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraDongNuoc">
      <soap:operation soapAction="http://tempuri.org/KiemTraDongNuoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="THServiceSoap12" type="tns:THServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/getCustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="W_Bill">
      <soap12:operation soapAction="http://tempuri.org/W_Bill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="payW_Bill">
      <soap12:operation soapAction="http://tempuri.org/payW_Bill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkPay_Bill">
      <soap12:operation soapAction="http://tempuri.org/checkPay_Bill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemHDThu">
      <soap12:operation soapAction="http://tempuri.org/ThemHDThu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ThemHDChuyen">
      <soap12:operation soapAction="http://tempuri.org/ThemHDChuyen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraHDThu">
      <soap12:operation soapAction="http://tempuri.org/KiemTraHDThu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KiemTraDongNuoc">
      <soap12:operation soapAction="http://tempuri.org/KiemTraDongNuoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="THService">
    <wsdl:port name="THServiceSoap" binding="tns:THServiceSoap">
      <soap:address location="http://113.161.88.180:8086/THService.asmx" />
    </wsdl:port>
    <wsdl:port name="THServiceSoap12" binding="tns:THServiceSoap12">
      <soap12:address location="http://113.161.88.180:8086/THService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>